{
  "presets": [["@babel/preset-react"], ["@babel/preset-env"]],
  "plugins": [
    ["@babel/plugin-transform-runtime"],
    ["babel-plugin-styled-components"]
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
