.nav-sidebar {
	background: var(--theme-primary);
	color: var(--theme-text-primary);
	transition: all 200ms ease;
	@apply fixed overflow-x-hidden;
}
.nav-item {
	transition-property: transform, background-color;
	transition-timing-function: ease;
	transition-duration: 150ms;
	color: var(--theme-text-primary);
	@apply relative py-2 px-4 h-12 flex items-center font-medium whitespace-no-wrap select-none outline-none;
}
.nav-item:hover {
	background: var(--theme-hover-primary);
	@apply underline;
}

.nav-item.active {
	transform: translateX(10px);
	background: var(--theme-hover-primary);
}

.nav-item:active {
	background: var(--theme-primaryvariant);
}

.app-main {
	transition-property: color background;
	transition-duration: 0.2s;
	transition-timing-function: ease;
	@apply flex-grow flex flex-col overflow-x-hidden overflow-y-auto;
}
.app-container {
	@apply flex-grow h-full;
}

.app-header {
	background: var(--theme-secondary);
	color: var(--theme-text-secondary);
	@apply flex items-center;
}

.app-footer {
	@apply px-6 py-3 flex justify-end;
}

.language-menu {
	top: 1.5rem;
	@apply absolute right-0 shadow-lg z-10;
}

.language-item {
	background: var(--theme-secondary);
	color: var(--theme-text-secondary);
	@apply border border-gray-500 px-8 py-2 text-center cursor-pointer whitespace-no-wrap select-none;
}
.language-item:hover {
	background: var(--theme-hover-secondary);
	@apply underline;
}
