@import "./codemirror.css";
@import "./custom-range-date.css";

@font-face {
	font-family: Fira Code;
	src: local("Fira Code"), url(~assets/fonts/FiraCode-Regular.woff2);
}

body {
	@apply m-0 leading-normal overflow-hidden;
	font-family: Roboto, 微軟正黑體, Microsoft JhengHei, Helvetica Neue,
		Helvetica, Arial, PingFang TC, 黑體-繁, Heiti TC, 蘋果儷中黑,
		Apple LiGothic Medium, sans-serif;
}

::selection {
	background: rgb(115, 80, 196);
	@apply text-gray-100;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: none;
}
