.validated-input ~ .valid-message {
	@apply mt-1 text-green-500 text-xs italic;
}

.validated-input ~ .invalid-message {
	@apply mt-1 text-red-500 text-xs italic;
}

.validated-input {
	@apply bg-white border border-gray-300 rounded-lg py-2 px-4 block w-full;
	transition: all ease 0.16s;
}

.validated-input:focus {
	@apply outline-none shadow-outline;
}

.validated-input:focus.invalid {
	@apply bg-red-100;
	box-shadow: 0 0 0 3px rgba(225, 66, 66, 0.507);
}

.validated-input.invalid {
	@apply bg-red-200;
	@apply border-red-500;
}

.validated-input:focus.valid {
	@apply bg-green-100;
	box-shadow: 0 0 0 3px rgba(79, 225, 66, 0.507);
}

.validated-input.valid {
	@apply bg-green-200;
	@apply border-green-500;
}
