@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/dracula.css";

.CodeMirror {
	font-family: Fira Code, Roboto, Helvetica Neue, Helvetica, Arial,
		PingFang TC, 黑體-繁, Heiti TC, 蘋果儷中黑, Apple LiGothic Medium,
		微軟正黑體, Microsoft JhengHei, sans-serif;
	@apply bg-gray-300 text-gray-900 h-auto text-base;
}

.CodeMirror-selected {
	/* background: #96dfcf !important; */
}

.CodeMirror-lines {
	/* @apply p-0; */
}

.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
	@apply px-2;
}

.cm-tab {
	position: relative;
}
.cm-tab::before {
	content: "";
	height: 100%;
	position: absolute;
	border-right: 1px solid #424242;
}
.cm-tab::after {
	position: absolute;
	left: 2px;
	content: "→";
	color: #424242;
}
