.nav-sidebar {
	transition: transform ease 0.2s;
	@apply bg-blue-700 text-gray-100 fixed overflow-x-hidden;
}
.nav-item {
	transition-property: transform, background-color;
	transition-timing-function: ease;
	transition-duration: 150ms;
	@apply relative py-2 px-4 h-12 flex items-center font-medium whitespace-no-wrap select-none outline-none;
}
.nav-item:hover {
	@apply underline bg-blue-500;
}
.nav-item:active {
	@apply bg-blue-800;
}
.nav-item.active {
	transform: translateX(10px);
	@apply bg-blue-600;
}

.app-main {
	transition: margin-left ease 0.2s;
	@apply bg-green-200 flex-grow flex flex-col overflow-x-hidden overflow-y-auto;
}
.app-container {
	@apply flex-grow h-full;
}

.app-header {
	@apply flex items-center bg-blue-300 text-gray-700;
}

.app-footer {
	@apply p-3 bg-teal-300 flex justify-end;
}

.language-menu {
	top: 1.5rem;
	@apply absolute right-0 shadow-lg z-10;
}

.language-item {
	@apply bg-blue-300 text-gray-700 border border-blue-200 px-8 py-2 text-center cursor-pointer whitespace-no-wrap select-none;
}
.language-item:hover {
	@apply bg-blue-400 underline;
}
.language-item:focus {
	@apply bg-blue-500;
}
